.codeInput {
  width: 50%;
  border: 1px solid #2F3D44;
  border-radius: 4px;
  background-color: #1B2D36;
  color: #F3F3F3;
  padding: 0.5rem;
}

.inputForm {
  display: flex;
  justify-content: center;
  width: 65%;
  gap: 0.5rem;
}
